html {
	box-sizing: border-box;
}

body { 
	min-height: 100vh;
    background: url("file:///C:/Users/Dan/Desktop/Homework/unit-4-game/assets/images/OceanCrystal.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}

.header {
	padding: 70px 0px 0px 0px;
	color: rgb(92, 19, 19);
}

h1, h3, #magicNumber, #totalScore, #wins, #losses, .score {
    color: #0c1627;
    background-color: #f7f3fa;
    opacity: 0.5;
}

h1 {
    color: rgb(29, 10, 10);
    background-color: #cab5dd; 
    opacity: 0.5;
	margin: 55px 0px 75px 0px;
	letter-spacing: 12px;
}

.crystalimg {
	width: 150px;
	margin: 30px auto;
}

.directions {
	color: rgb(53, 10, 10);
	text-align: center;
    padding: 20px 85px;
    border-block-end-color: #a182bc;
    background-color: #f7f3fa;
    opacity: 0.75;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}



#winOrLose {
	color: #a182bc;
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}
